[capture-template] {
  font-family: monospace;
  font-size: 100%;

  > .help {
    font-size: 80%;
    text-align: right;

    color: #999;

    > dt { font-style: italic; color: #69e; }
  }

  > .editor {
    padding: 10px;
    border-bottom: 1px solid #ace;

    white-space: pre-wrap;
    word-wrap: break-word;

    &:focus {
      outline: none;
      border-bottom-color: #79e;
    }

    > .headline {
      > .stars { color: #37a; }
    }
  }
}
